{% extends "layout.njk" %}

{% block head %}
<title>Foodfy</title>
{% endblock %}

{% block content %}

<main>
  <section class="container">
    <div class="grid-receita">
      <div class="content-receitas">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais<br>
          do mundo inteiro.</p>
      </div>
      <div class="content-chef">
        <img src="/img/chef.png" alt="chef">
      </div>
    </div>
  </section>
  <section class="container">
    <h2 class="mostAccessed">Mais acessadas</h2>
    <div class="cards">
      {% for item in items %}

      {% if loop.index <= 6 %} {# o loop.index mostrara apenas as 6 primeiras receitas do data.js #}
      <div class="card" id="burger">
        <div class="card-image">
          <img src="{{item.image}}" alt="imagem de {{item.title}}">
        </div>
        <div class="card-title">
          <h3>{{item.title}}</h3>
        </div>
        <div class="card-info">
          <p>{{item.author}}</p>
        </div>
    </div>
      {% endif %}
      {% endfor %}
  </section>

  <!-- MODAL
        <div class="modal-overlay">
        <div class="modal">
          <div class="image-modal">
            <img src="/img/asinhas.png" alt="">
          </div>
          <div class="card-title-modal">
            <h4 >Assinhas de frango ao barbecue</h4>
          </div>
          <div class="card-info">
            <p>por Vania Steroski</p>
          </div>
          <div>
            <p class="close-modal">fechar modal</p>
          </div>
        </div>
      </div>-->
</main>
<footer>
  <p>Todos os direitos reservados,receita Foodfy</p>
</footer>
<script src="/script.js"></script>
{% endblock %}