{% extends "layout.njk" %}

{% block head %}
<title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}
<main>
  <section class="container">
    <div class="cards">
      {% for recipe in recipes %}
      <a href="/recipes/{{loop.index0}}">
      <div class="card" id="burger">
        <div class="card-image">
          
            <img src="{{recipe.image}}" alt="{{recipe.title}}">
          
        </div>
        <div class="card-title">
          <h4>{{recipe.title}}</h4>
        </div>
        <div class="card-info">
          <p>{{recipe.author}}</p>
        </div>
      
      </div>
    </a>
      {% endfor %}
  </section>
  <!--<div class="modal-overlay">
        <div class="modal">
          <div class="image-modal">
            <img src="/img/asinhas.png" alt="">
          </div>
          <div class="card-title-modal">
            <h4 >Assinhas de frango ao barbecue</h4>
          </div>
          <div class="card-info">
            <p>por Vania Steroski</p>
          </div>
          <div>
            <p class="close-modal">fechar modal</p>
          </div>
        </div>
      </div>-->
</main>
<footer>
  <p>Todos os direitos reservados,receita Foodfy</p>
</footer>
{# <script src="/modal.js"></script> #}

{% endblock %}