/* ABOUT */
.about {
	margin: auto;
	h1 {
		font-size: 24px;
	}
	h2 {
		margin-top: 32px;
		font-size: 20px;
	}
	p {
		margin: 20px 0;
		font-size: 18px;
		line-height: 28px;
		text-align: justify;
		color: var(--color-dark-gray);
	}
}
