@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
::-webkit-scrollbar {
  width: 11px;
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  background-color: #dadada;
}
html {
  --cinza: #444444;
  --preto: #111111;
  --marron: #953930;
  --pink: #fbdfdb;
  --branco: #ffff;
  --verde: #38d430;
  --azulescuro: #282a36;
}
h2 {
  font-size: 24px;
  margin: 20px 0 20px;
}
h4 {
  font-size: 18px;
}
h3 {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: var(--cinza);
}
a:hover {
  color: var(--preto);
  transition: 0.2ms;
}
p {
  font-size: 18px;
  color: var(--cinza);
  line-height: 28px;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--preto);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}
.mobile {
  display: none;
}
header {
  padding: 30px 0;
}
header .container {
  display: flex;
  align-items: center;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  justify-content: space-around;
}

header .links ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  max-width: 300px;
  list-style: none;
}
header .img-wraper img {
  padding-top: 10px;
}
header .links a {
  font-size: 16px;
  text-decoration: none;
  color: var(--preto);
}
header.header-admin {
  background-color: var(--preto);
}
header.header-admin .container {
  padding: 14px 0;
}
nav img {
  padding-right: 65px;
}
nav a {
  color: var(--preto);
  padding: 19px;
}
.active {
  font-weight: bold;
}
.filter-form {
  display: flex;
  align-items: center;
  column-gap: 23px;
}

main .container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}
.grid-receita {
  max-height: 855px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 366px;
  /*gap: 15px;*/
  background-color: var(--pink);
  border-radius: 30px;
}
.content-receitas h1 {
  font-size: 32px;
  margin: 117px 0 10px 60px;
}
.content-receitas p {
  margin: 0px 60px;
  font-size: 18px;
}
.content-chef img {
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 66px;
  margin-left: 145px;
}
.cards {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card {
  width: 300px;
  height: 240px;
  cursor: pointer;
}
.card img {
  width: 100%;
  border-radius: 15px;
}
.card-title {
  margin: 20px 0 5px;
}
.card-info p {
  font-size: 14px;
  color: #777777;
}
/*SRODAPE*/
footer {
  margin-top: auto;
  background-color: var(--preto);
}
footer p {
  color: var(--branco);
  padding: 23px 0px 0px;
  text-align: center;
}
/*==SOBRE==*/
.first-paragraph {
  height: 280px;
}
.sub-title {
  margin: 30px 0 20px;
}
.second-paragraph {
  height: 280px;
}
.third-paragraph {
  height: 112px;
  margin-bottom: 50px;
}

/*PÃGINA DE DETALHES DAS RECEITAS*/
.recipe-selected {
  margin-bottom: 56px;
}
.recipe-selected img {
  margin-top: 20px;
  border-radius: 15px;
}
.recipe-selected .title {
  text-align: center;
}
.recipe-selected .title h1 {
  margin-top: 56px;
  margin-bottom: 5px;
  font-size: 36px;
}
.recipe-selected .title p {
  margin: 0;
  font-size: 20px;
}
.recipe-wraper {
  margin-top: 20px;
}
.recipe-wraper .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.recipe-wraper .title h2 {
  margin-right: 8px;
}
.recipe-wraper p.hide {
  font-size: 12px;
  color: var(--verde);
  cursor: pointer;
}
.content {
  font-size: 18px;
  line-height: 28px;
  color: var(--preto);
}
.content ul {
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
}
.content.hidden {
  display: none;
}
.show {
  display: block;
}
.mostAccessed {
  font-size: 24px;
  line-height: 28px;
  color: var(--preto);
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 55px;
}
.recipe-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 24px;
  margin-bottom: 56px;
  cursor: pointer;
}
.recipe img {
  width: 100%;
  height: 140px;
  border-radius: 15px;
}
.recipe h3 {
  margin: 5px 10px;
  font-size: 18px;
  font-weight: normal;
}
.recipe p {
  margin: 0 10px;
  font-size: 15px;
  color: var(--cinza);
  font-weight: 600;
}
@media (max-width: 425px) {
  main {
    padding: 5px;
  }
  nav img {
    padding-right: 25px;
  }
  .cards {
    grid-template-columns: none;
  }
  .modal {
    width: 96%;
    height: 63%;
  }
  .image-modal img {
    width: 95%;
    height: 95%;
    margin: 5px auto;
  }
  .first-paragraph,
  .second-paragraph,
  .third-paragraph {
    height: 0%;
  }
  .grid-receita {
    height: 100%;
    width: 99%;
    grid-template-columns: 1fr;
  }
  .content-chef img {
    margin-left: auto;
  }
  footer p {
    font-size: 15px;
    padding: 23px 0px 0px;
  }
}
/* @media (min-width: 426px) and (max-width: 768px) {
  main {
    padding: 10px;
  }
  h2 {
    text-align: center;
  }
  .first-paragraph,
  .second-paragraph,
  .third-paragraph {
    height: 0%;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
} */

/* RECIPES ADMIN  */
.recipes-admin > .title,
form .title,
.recipe-selected > .title:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
}
.recipes-admin .recipe-container {
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.recipes-admin .recipe {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 8px 60%;
  grid-template-columns: 40% 60%;
  gap: 8px;
  cursor: default;
}
.recipes-admin .recipe img {
  height: 95px;
  border-radius: 8px;
}
.recipes-admin .recipe a {
  display: inline-block;
  margin: 10px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: var(--purple);
  background: var(--preto);
  color: var(--branco);
  border-radius: 5px;
  padding: 2px 5px;
}
button {
  cursor: pointer;
}
form button,
.btn {
  padding: 8px 20px;
  height: 37px;
  font-weight: bold;
  background-color: var(--preto);
  border: 0;
  border-radius: 4px;
  color: var(--branco);
}
.btn a {
  text-decoration: none;
  color: var(--branco);
}
button.btn-delete {
  margin-right: 8px;
  background-color: #dc4747;
}
/*FORMS*/
form .item {
  margin-top: 24px;
}
form .item:last-of-type {
  margin-bottom: 32px;
}
.item div:nth-of-type(1) {
  font-weight: bold;
}
form input,
form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 8px 24px;
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
form textarea {
  display: block;
  height: 256px;
  resize: none;
  display: block;
  height: 256px;
  resize: none;
  font-family: "Roboto";
}
form .add {
  font-weight: bold;
  color: var(--verde);
  cursor: pointer;
}

/*CHEFS*/

.chef-container,
.chef-container-admin {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 24px;
}

.chef-container .chef {
  cursor: pointer;
}

.chef {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}

.chef img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.chef a {
  margin-top: 0;
}

.chef-img img {
  display: block;
  margin: 56px auto 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
/* RESPONSIVE */
@media (max-width: 576px) {
  body {
    /* background: red; */
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .grid-receita {
    max-height: 855px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    height: 366px;
    /* gap: 15px; */
    background-color: var(--pink);
    border-radius: 30px;
  }
  .content-chef img {
    display: none;
  }
  .mostAccessed {
    text-align: center;
  }
  .recipe-container {
    grid-template-columns: 1fr 1fr;
  }
  header {
    display: none;
  }
  
header .container{
  justify-content: space-between;
  padding: 10px 35px;
} 
  .mobile {
    display: block;
  }
 
  .button_container {
    position: relative;
    /* top: 5%;
    right: 2%; */
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
  }
  .button_container:hover {
    opacity: 0.7;
  }
  .button_container.active .top {
    transform: translateY(10px) translateX(0) rotate(45deg);
    background: #fff;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #fff;
  }
  .button_container.active .bottom {
    transform: translateY(-10px) translateX(0) rotate(-45deg);
    background: #fff;
  }
  .button_container span {
    background: black;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
  }
  .button_container span:nth-of-type(2) {
    top: 10px;
  }
  .button_container span:nth-of-type(3) {
    top: 20px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, width 0.35s;
    z-index: 50;
  }
  .overlay:before {
    content: "";
    background: var(--preto);
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: left 0.35s ease;
  }
  .overlay:after {
    content: "";
    background:var(--preto);
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: all 0.35s ease;
  }
  .overlay.open {
    opacity: 0.9;
    visibility: visible;
    height: 100%;
  }
  .overlay.open:before {
    left: 0;
  }
  .overlay.open:after {
    right: 0;
  }
  .overlay.open li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
  }
  .overlay.open li:nth-of-type(2) {
    animation-delay: 0.45s;
  }
  .overlay.open li:nth-of-type(3) {
    animation-delay: 0.55s;
  }
  .overlay.open li:nth-of-type(4) {
    animation-delay: 0.65s;
  }
  .overlay nav {
  position: relative;
    height: 70%;
    top: 50%; 
  transform: translateY(-50%);
    font-size: 25px;
 
    font-weight: 400;
    text-align: center;
    z-index: 100;
   
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  .overlay ul li a {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
  }
  .overlay ul li a:hover:after,
  .overlay ul li a:focus:after,
  .overlay ul li a:active:after {
    width: 100%;
  }
  .overlay ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #fff;
    transition: 0.35s;
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
}
@media (max-width: 766px) {
  body {
    /* background: blue; */
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .grid-receita {
    max-height: 855px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    height: 366px;
    /* gap: 15px; */
    background-color: var(--pink);
    border-radius: 30px;
  }
  .content-chef img {
    display: none;
  }
  .mostAccessed {
    text-align: center;
  }
  .recipe-container {
    grid-template-columns: 1fr 1fr;
  }
  header {
    display: none;
  }
  
header .container{
  justify-content: space-between;
  padding: 10px 35px;
} 
  .mobile {
    display: block;
  }
 
  .button_container {
    position: relative;
    /* top: 5%;
    right: 2%; */
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
  }
  .button_container:hover {
    opacity: 0.7;
  }
  .button_container.active .top {
    transform: translateY(10px) translateX(0) rotate(45deg);
    background: #fff;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #fff;
  }
  .button_container.active .bottom {
    transform: translateY(-10px) translateX(0) rotate(-45deg);
    background: #fff;
  }
  .button_container span {
    background: black;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
  }
  .button_container span:nth-of-type(2) {
    top: 10px;
  }
  .button_container span:nth-of-type(3) {
    top: 20px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, width 0.35s;
    z-index: 50;
  }
  .overlay:before {
    content: "";
    background: var(--preto);
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: left 0.35s ease;
  }
  .overlay:after {
    content: "";
    background:var(--preto);
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: all 0.35s ease;
  }
  .overlay.open {
    opacity: 0.9;
    visibility: visible;
    height: 100%;
  }
  .overlay.open:before {
    left: 0;
  }
  .overlay.open:after {
    right: 0;
  }
  .overlay.open li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
  }
  .overlay.open li:nth-of-type(2) {
    animation-delay: 0.45s;
  }
  .overlay.open li:nth-of-type(3) {
    animation-delay: 0.55s;
  }
  .overlay.open li:nth-of-type(4) {
    animation-delay: 0.65s;
  }
  .overlay nav {
  position: relative;
    height: 70%;
    top: 50%; 
  transform: translateY(-50%);
  /*   font-size: 50px; */
 /*    font-family: "Vollkorn", serif; */
    font-weight: 400;
    text-align: center;
    z-index: 100;
   
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  .overlay ul li a {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
  }
  .overlay ul li a:hover:after,
  .overlay ul li a:focus:after,
  .overlay ul li a:active:after {
    width: 100%;
  }
  .overlay ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #fff;
    transition: 0.35s;
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
}