@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
::-webkit-scrollbar {
  width: 11px;
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  background-color: #dadada;
}
html {
  --cinza: #444444;
  --preto: #111111;
  --marron: #953930;
  --pink: #fbdfdb;
  --branco: #ffff;
  --verde: #38d430;
  --azulescuro: #282a36;
}
h2 {
  font-size: 24px;
  margin: 20px 0 20px;
}
h4 {
  font-size: 18px;
}
h3 {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: var(--cinza);
}
a:hover {
  color: var(--preto);
  transition: 0.2ms;
}
p {
  font-size: 18px;
  color: var(--cinza);
  line-height: 28px;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--preto);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  overflow-y: overlay;
  overflow-x: hidden;
}
header {
  padding: 30px 0;
}
header .container {
  display: flex;
  align-items: center;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  padding: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
header .container img {
  border-radius: 0px;
}
header .links  a {
  font-size: 16px;
  text-decoration: none;
  color: var(--preto);
 

}

header.header-admin {
  background-color: var(--preto);
}
header.header-admin .container {
  padding: 14px 0;
}
nav img {
  padding-right: 65px;
}
nav a {
  color: var(--preto);
  padding: 19px;
}
.active {
  font-weight: bold;

}



main .container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}
.grid-receita {
  max-height: 855px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 366px;
  /*gap: 15px;*/
  background-color: var(--pink);
  border-radius: 30px;
}
.content-receitas h1 {
  font-size: 32px;
  margin: 117px 0 10px 60px;
}
.content-receitas p {
  margin: 0px 60px;
  font-size: 18px;
}
.content-chef img {
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 66px;
  margin-left: 145px;
}
.cards {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card {
  width: 300px;
  height: 240px;
  cursor: pointer;
}
.card img {
  width: 100%;
  border-radius: 15px;
}
.card-title {
  margin: 20px 0 5px;
}
.card-info p {
  font-size: 14px;
  color: #777777;
}
footer {
  height: 62px;
  background-color: var(--preto);
}
footer p {
  color: var(--branco);
  padding: 23px 0px 0px;
  text-align: center;
}
/*==SOBRE==*/
.first-paragraph {
  height: 280px;
}
.sub-title {
  margin: 30px 0 20px;
}
.second-paragraph {
  height: 280px;
}
.third-paragraph {
  height: 112px;
  margin-bottom: 50px;
}

/*== PÃGINA DE DETALHES DAS RECEITAS==*/
.recipe-selected {
  margin-bottom: 56px;
}
.recipe-selected img {
  margin-top: 20px;
  border-radius: 15px;
}
.recipe-selected .title {
  text-align: center;
}
.recipe-selected .title h1 {
  margin-top: 56px;
  margin-bottom: 5px;
  font-size: 36px;
}
.recipe-selected .title p {
  margin: 0;
  font-size: 20px;
}
.recipe-wraper {
  margin-top: 20px;
}
.recipe-wraper .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.recipe-wraper .title h2 {
  margin-right: 8px;
}
.recipe-wraper p.hide {
  font-size: 12px;
  color: var(--verde);
  cursor: pointer;
}
.content {
  font-size: 18px;
  line-height: 28px;
  color: var(--preto);
}
.content ul {
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
}
.content.hidden {
  display: none;
}
.show {
  display: block;
}
.mostAccessed {
  font-size: 24px;
  line-height: 28px;
  color: var(--preto);
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 55px;
}
.recipe-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 24px;
  margin-bottom: 56px;
  cursor: pointer;
}
.recipe img {
  width: 100%;
  height: 140px;
  border-radius: 15px;
}
.recipe h3 {
  margin: 5px 10px;
  font-size: 18px;
  font-weight: normal;
}
.recipe p {
  margin: 0 10px;
  font-size: 15px;
  color: var(--cinza);
  font-weight: 600;
}
@media (max-width: 425px) {
  main {
    padding: 5px;
  }
  nav img {
    padding-right: 25px;
  }
  .cards {
    grid-template-columns: none;
  }
  .modal {
    width: 96%;
    height: 63%;
  }
  .image-modal img {
    width: 95%;
    height: 95%;
    margin: 5px auto;
  }
  .first-paragraph,
  .second-paragraph,
  .third-paragraph {
    height: 0%;
  }
  .grid-receita {
    height: 100%;
    width: 99%;
    grid-template-columns: 1fr;
  }
  .content-chef img {
    margin-left: auto;
  }
  footer p {
    font-size: 15px;
    padding: 23px 0px 0px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  main {
    padding: 10px;
  }
  h2 {
    text-align: center;
  }
  .first-paragraph,
  .second-paragraph,
  .third-paragraph {
    height: 0%;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* RECIPES ADMIN  */

.recipes-admin > .title,
form .title,
.recipe-selected > .title:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
}
.recipes-admin .recipe-container {
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.recipes-admin .recipe {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 8px 60%;
  grid-template-columns: 40% 60%;
  gap: 8px;
  cursor: default;
}
.recipes-admin .recipe img {
  height: 95px;
  border-radius: 8px;
}
.recipes-admin .recipe a {
  display: inline-block;
  margin: 10px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: var(--purple);
  background: var(--preto);
  color: var(--branco);
  border-radius: 5px;
  padding: 2px 5px;
}
button {
  cursor: pointer;
}
form button,
.btn {
  padding: 8px 20px;
  height: 37px;
  font-weight: bold;
  color: var(--preto);
  background-color: var(--verde);
  border: 0;
  border-radius: 4px;
  color: var(--branco);
}

.btn a {
  text-decoration: none;
  color: var(--branco);
}

button.btn-delete {
  margin-right: 8px;
  background-color: #dc4747;
}

/*==FORMS==*/

form .item {
  margin-top: 24px;
}

form .item:last-of-type {
  margin-bottom: 32px;
}

.item div:nth-of-type(1) {
  font-weight: bold;
}

form input,
form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 8px 24px;
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form textarea {
  display: block;
  height: 256px;
  resize: none;
  display: block;
  height: 256px;
  resize: none;
  font-family: "Roboto";
}

form .add {
  font-weight: bold;
  color: var(--verde);
  cursor: pointer;
}
