{% extends 'templates/layouts/admin.njk' %}
{% import "templates/macros/chef-content.njk" as chefContent %}

{% block head %}
    <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/main.css">

    <title>{{chef.name}} | Foodfy</title>
{% endblock %}

{% block content %}
    {{ chefContent.render(chef, session, "admin") }}
{% endblock %}