<!--BASE DE TODO ARQUIVO NUNJUCKS-->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    {% block head %}
      <title>Foodfy</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="container">
        <div class="img-wraper">
          <a href="/"><img src="/img/logo.png" alt="Foodfy logo">
          </a>
        </div>
        <nav class="links">
          <ul>
            <li><a href="/about">Sobre</a></li>
            <li><a href="/recipes">Receitas</a></li>
            <li><a href="/chefs">Chefs</a></li>
          </ul>
        </nav>
        {% block search %}{% endblock %}
      </div>
    </header>
    <header class="mobile">
      <div class="container">
        <div class="img-wraper">
          <a href="/"><img src="/img/logo.png" alt="Foodfy logo">
          </a>
        </div>
        <div class="button_container" id="toggle">
          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
        </div>
        <div class="overlay" id="overlay">
          <nav class="overlay-menu">
            <ul>
           <li><a href="/about">Sobre</a></li>
            <li><a href="/recipes">Receitas</a></li>
            <li><a href="/chefs">Chefs</a></li>
                       {#    {% block search %}{% endblock %} #}
            </ul>
           
          </nav>

        </div>
        {#         {% block search%}{% endblock %} #}
      </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
      <p>Todos os direitos reservados, receita Foodfy</p>
    </footer>
    <script src="/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $("#toggle").click(function () {
        $(this).toggleClass("active");
        $("#overlay").toggleClass("open");
      });
    </script>
  </body>
</html>